.button-month {
  background-color: lightgray; 
  color: black;
  padding: 15px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.button-month-selected {
  background-color: darkgray; 
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%;
}

.appHeader {
  background-color: #87c1cc;
  padding: 1rem 0;
  color: white;
  text-align: left;
  font-size: 2rem;
  margin: 0;
  font-weight: 600;
}

.fullHeader {
  display: flex;
  justify-content: space-between;
  background-color: #87c1cc;
  padding: 2%;
}

.appNav {
  background-color: #87c1cc;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  text-align: right;
  font-size: 40px;
}

.navButton {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  font-size: 1.25rem;
  color: white; 
  font-size: 60%;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navButton:hover {
  color: #0065d2;
}

.navButtonActive {
  color: rgb(0, 0, 0);
}

.userIcon {
  float: right;
  margin-right: 1rem;
}


.appMain {
  display: flex;
  flex-grow: 1;
  padding: 1rem;
  background-color: white;
  border-color: #007bff;
  padding: 5%;
  align-items: center;
  align-content: center;
}

.chartSection {
  flex: 70%;
  min-width: 200px;
}

.monthButtons {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 0;
  margin: 0;
}

.monthSelector {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 30%;
  align-items: center;
  align-content: center;
}

button {
  font-size: 200%;
  border-radius: 20px;
  padding: 10px;
}

.pieChartContainer {
  display: flex;
  justify-content: center;
  width: 90%;
  align-items: center;
  align-content: center;
}

.detailsSection {
  flex: 50%;
  background-color: #87c1cc;
  padding: 20px;
  width: 80%;
  height: auto;
  color: black;
  border-radius: 8px;
}

.budgetBreach {
  text-align: center;
}

.expensesContainer {
  background-color: #f5f5f5; 
  border-radius: 8px; 
  padding: 20px; 
  margin-top: 10px; 
}

.expensesList {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.expenseItem {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 0; 
  border-bottom: 1px solid #ddd; 
}

.expenseCategory {
  font-weight: bold; 
}

.expenseAmount {
  color: red; 
  font-weight: bold; 
}

.expenseTransactions {
  color: #666; 
  margin-right: 10px; 
  font-size: 75%;
}


.appFooter {
  background-color: #a6a6a6;
  padding: 10px;
  text-align: center;
}

.buttonMonth {
  background-color: lightgray;
  color: black;
  padding: 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
  font-size: 300%;
}

.buttonMonthSelected {
  background-color: darkgray;
}

ul {
  text-align: left;
}

.summarySection {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin: 20px;
}

.summaryCard {
  width: 25%;
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summaryCard h3 {
  color: #47859c;
  margin-bottom: 10px;
}

.summaryCard p {
  font-size: 1.5rem;
  font-weight: bold;
}


@media screen and (max-width: 768px) {
  .summaryCard p {
    font-size: 1rem;
  }
  .summaryCard h3 {
    font-size: 1.2rem;
  }
  .summarySection {
    padding: 10px;
  }
  .appMain {
    flex-direction: column-reverse;
    height: fit-content;
  }
}