.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.monthButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.buttonMonth {
  background-color: lightgray;
  color: black;
  padding: 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.buttonMonthSelected {
  background-color: darkgray;
}

.appMain {
  width: 50%; 
  max-width: 600px; 
  margin: auto; 
}
