.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.LoginForm {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.SignupForm {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.form {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.form h1 {
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.3rem;
}

.form-body {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  margin-top: 10px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: rgb(65, 149, 239)
}

.form-error-message {
  color: red;
  font-size: 0.8rem;
}

.form-footer {
  margin-top: 20px;
  text-align: center;
}

.form-footer p {
  margin-bottom: 0;
}

.form-footer .link {
  color: #007bff;
  cursor: pointer;
}

.form-footer .link:hover {
  text-decoration: underline;
}

.toast-success {
  position: fixed;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 0.8rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.toast-error {
  position: fixed;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #af4c4c;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 0.8rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}